DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost

MAILER_ADDRESS=127.0.0.1
MAILER_PORT=1025
MAILER_USER_NAME=example@email.com
MAILER_PASSWORD=
MAILER_DOMAIN=localhost
MAILER_HOST=localhost

JWT_SECRET=
SESSION_SECRET_TOKEN=
SECRET_KEY_BASE=
