database: &database
  db.username: postgres
  db.password: postgres
  db.host: db

mailer: &mailer
  mailer.host: localhost
  mailer.port: '3000'

development:
  <<: *database
  <<: *mailer

test:
  <<: *database
  <<: *mailer

production:
  <<: *database
  mailer.host: restaurant_manager.com.br
  mailer.port: '80'

DEVISE_JWT_SECRET_KEY

aws:
  provider: AWS
  access_key_id:
  secret_access_key:
  region: us-east-2
  buket: cookiecode-restaurant_manager.s3

redis:
  host: localhost
  port: 6379
