<p><%= t('confirmations.title', recipient: @email) %></p>

<p><%= t('confirmations.instruction') %></p>

<p><%= "#{ENV["CONFIRM_URL"]}?confirmation_token=#{@token}" %></p>

<p><%= link_to t('confirmations.link_to_confirm'), "#{ENV["CONFIRM_URL"]}?confirmation_token=#{@token}" %></p>
